#propic{
	width: 80%;
	height: 70%;
	margin-top: 10%;
}

.navigation{
	width: 100%;
	text-align: center;
	margin-top: 5%;
}

#dig_space{
	width: 100%;
	font-size: 26px;
}

#resume, #poetry, #photo, #about, #contact, #projects{
	padding-left: 3px;
	padding-right: 3px; 
	padding-bottom: 5px;
	font-size: 2vw;
}

#p-about, #p-resume, #p-projects, #p-poetry, #p-photo, #p-contact{
	padding-bottom: 5px;
	padding-right: 3px;
	padding-left: 3px;
	font-size: 2vw;
}

.title{
	font-size: 26px;
}

#resume_intro{
	width: 100%;
	margin-top: 20%;
	font-size: 5.5vw;
}

#all_projects{
	margin-top: 15%;
}

#photos{
	margin-top: 16%;
}

#china{
	margin-top: 16%;
}

#contact_intro{
	margin-top: 25%;
}

#linked{
	font-size: 2vw;
}

#contact_form{
	margin-top: 10%;
}
