body{
	/*background: linear-gradient(to right, #FFA371, #FFCC99);*/
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #d1adad;
}

#photos, #title, #intro{
	text-align: center;
}

#title{
	text-shadow: 2px 1px grey;
	text-align: left;
}

#intro{
	padding-top: 3vw;
	text-align: center;
	font-family: times new roman;
	font-size: 1.2vw;
}

#all_projects{
	font-family: times new roman;
	padding-top: 9vw;
	padding-left: 5vw;
	font-size: 24px;
	font-size: 1.6vw;
	list-style-type: none;
}

a: hover{
	text-decoration: underline;
	color: #fff3e5;
	font-size: 35px;
}

#idontsmoke {
	font-family: times new roman;
	text-align: left;
	font-size: 1.3vw;
	padding-left: 5vw;
	padding-top: .5vw;
}

#foreigner{
	font-family: times new roman;
	text-align: left;
	font-size: 1.3vw;
	padding-top: 5vw;
	padding-left: 30vw;
}

#guy{
	font-family: times new roman;
	text-align: left;
	font-size: 1.3vw;
	padding-top: 5vw;
	padding-left: 60vw;
}

#motherland{
	font-family: times new roman;
	text-align: left;
	font-size: 1.3vw;
	padding-top: 5vw;
	padding-left: 5vw;
}

#appendix{
	font-family: times new roman;
	text-align: left;
	font-size: 1.3vw;
	padding-top: 5vw;
	padding-left: 23vw;
}

#skin{
	font-family: times new roman;
	text-align: left;
	font-size: 1.3vw;
	padding-top: 5vw;
	padding-left: 74vw;
}

#ed1{
	font-size: 1.3vw;
	text-align: left;
	padding-left: 5vw;
	padding-top: 5vw;
}

#ed2{
	font-size: 1.3vw;
	text-align: left;
	padding-left: 18vw;
	padding-top: 5vw;
}

#metro{
	font-family: times new roman;
	text-align: left;
	font-size: 1.3vw;
	padding-top: .5vw;
	padding-left: 5vw;
}

#kyoto{
	font-family: times new roman;
	text-align: left;
	font-size: 1.3vw;
	padding-top: 5vw;
	padding-left: 39vw;
}

#tokyo1{
	font-size: 1.7vw;
}

#tokyo{
	font-family: times new roman;
	text-align: left;
	font-size: 1.3vw;
	padding-top: 2.5vw;
	padding-left: 5vw;
}

#japan{
	font-size: 2.3vw;
	font-weight: bold;
	text-align: left;
	padding-left: 5vw;
	padding-top: 5vw;
}

#mind {
	font-size: 2.3vw;
	font-weight: bold;
	text-align: left;
	padding-left: 5vw;
	padding-top: 5vw;
}

#china{
	font-size: 2.3vw;
	font-weight: bold;
	text-align: left;
	padding-left: 5vw;
	padding-top: 8vw;
}

#peaches{
	font-family: times new roman;
	text-align: left;
	font-size: 1.3vw;
	padding-left: 5vw;
	padding-top: .5vw;
}

#miscom{
	font-family: times new roman;
	text-align: left;
	font-size: 1.3vw;
	padding-top: 5vw;
	padding-left: 32vw;
}

#friday{
	font-family: times new roman;
	text-align: left;
	font-size: 1.3vw;
	padding-top: 5vw;
	padding-left: 68vw;
}

#photos{
	padding-top: 8vw;
	padding-bottom: 4vw;
}

#navigation {
	width: 100%;
	position: absolute;
	display: inline-block;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 1.2vw;
	text-align: center;
	text-shadow: 1px 1px grey;
	overflow: hidden;
}

#resume, #poetry, #photo, #about, #contact, #projects{
	padding-left: 30px;
	padding-right: 30px; 
	padding-bottom: 10px;
	text-decoration: none;
	width:100%;
	font-size: 26px;
	font-size: 2.0vw;
	text-align: center;
	font-family: times new roman;
}

#resume:hover {
	text-shadow: 2px 1px grey;
}

#projects:hover {
	text-shadow: 2px 1px grey;
}

#poetry:hover {
	text-shadow: 2px 1px grey;
}

#photo:hover {
	text-shadow: 2px 1px grey;
}

#about:hover {
	text-shadow: 2px 1px grey;
}

#contact:hover {
	text-shadow: 2px 1px grey;
}

#p-about, #p-resume, #p-projects, #p-poetry, #p-photo, #p-contact{
	font-family: times new roman;
	text-decoration: none;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 30px;
	padding-left: 30px;
	width: 100%;
	text-align: center;
	font-size: 2.0vw;
}

#p-resume:hover {
	text-shadow: 2px 1px grey;
}

#p-projects:hover {
	text-shadow: 2px 1px grey;
}

#p-poetry:hover {
	text-shadow: 2px 1px grey;
}

#p-photo:hover {
	text-shadow: 2px 1px grey;
}

#p-about:hover {
	text-shadow: 2px 1px grey;
}

#p-contact:hover {
	text-shadow: 2px 1px grey;
}

#resume_intro {
	padding-top: 10vw;
	text-align: center;
	font-family: times new roman;
	font-size: 2.5vw;
}

#resume_link:hover {
	text-decoration: underline;
}

#comic_project:hover, #audio_project:hover, #net_art:hover{
	color:white;
}

h1{
	text-shadow: 1px 1px grey;
}

a:link {
	text-decoration: none;
	background-color: transparent;
	color: black;
	font-weight: bold;
	font-style: normal;
}

a:visited {
	color: black;
}

#touch{
	text-align: center;
	padding-top: 9vw;
	padding-left: 3vw;
	font-family: times new roman;
	font-size: 9vw;
	font-weight: bold;
}

#long, #long2{
	font-size: 4vw;
	text-align: center;
}

#linked:hover, #email:hover{
	color: #fff3e5;
}

#propic{
	margin-left: auto;
	margin-right: auto;
	border: .8vw solid white;
	box-shadow: 1.5vw 1.5vw 15px #5a5d63;
	margin-top: 10vw;
	text-align: center;
	display: block;
	vertical-align: middle;
	text-align: center;
	width: 32%;		/*550px;*/
	height: 26%;	/*385px;*/
	animation: clipPoly 3s 3 alternate;
}

#a {
	color: #fff3e5 /*#4bd1ba*/;
	letter-spacing: 2px;
	font-size: 9vw;
	white-space: nowrap;
	margin: 0 auto;
	overflow: hidden;
	animation: typing 6s steps(100, end),
	           caret .5s step-end infinite;
}

@keyframes typing { 
	from {width: 0} 
	to {width: 100%}
}

@keyframes blink-caret { 
	from, to {border-color: transparent;}
  	50% {border-color: white}
}

@keyframes clipPoly{
	from{
		clip-path: polygon(5% 5%, 80% 15%, 95% 80%, 10% 85%);
		transform: scale(.4);
	}

	to{
		clip-path: polygon(5% 5%, 80% 15%, 95% 80%, 10% 85%);
		transform: scale(.5);
	}


	to{
		clip-path: polygon(10% 55%, 95% 80%, 55% 75%, 85% 100%);
		transform: scale(1);
	}

	to{
		clip-path: polygon(100% 0%, 0% 0%, 0% 100%, 100% 100%);
		transform: scale(1);
	}
}

.changebg {
	width: 100%;
	height: 1000%;
	animation-name: bgcolorchange;
	animation-duration:80s;
	animation-iteration-count: infinite;
}

@keyframes bgcolorchange{
	0% {
	    background-color: #d1adad;
	  }

	10% {
	    background-color: #a8897e;
	  }

	20% {
	    background-color: #c4aed2;
	  }

	30% {
	    background-color: #adb2d1;
	  }

	40% {
	    background-color: #adc2d1;
	  }

	50% {
	    background-color: #add1cf;
	  }

	60% {
	    background-color: #add1c2;
	  }

	70% {
	    background-color: #adc3d1;
	  }

	80% {
	    background-color: #b3add1;
	  }

	90% {
		background-color: #d1adb2;
	}

	100% {
		background-color: #d1adad;
	}
}

}
