body{
	background: linear-gradient(to right, #FFA371, #FFCC99);
}

#photos, #title, #intro{
	text-align: center;
}

#title{
	text-shadow: 2px 1px grey;
	text-align: left;
}

#poem1{
	text-align: center;
	font-size: 20px;
	padding-top: 100px;
	padding-bottom: 30px;
	text-shadow: 1px 1px #9a9ca0;
}

#intro{
	padding-top: 50px;
	padding-left: 25px;
	text-align: left;
	font-family: georgia;
	font-weight: bold;
	font-size: 15px;
}

#peaches {
	text-align: center;
	font-size: 20px;
	padding-top: 100px;
	padding-bottom: 30px;
	text-shadow: 1px 1px #9a9ca0;
	font-style: italic;
}

#photos{
	padding-top: 100px;
	padding-bottom: 50px;
}

#navigation {
	position: absolute;
	display: inline-block;
	width:98%;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 25px;
	text-align: center;
	text-shadow: 1px 1px #9a9ca0;
}

#ab_navigation {
	display: inline-block;
	width:100%;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 25px;
	text-align: center;
	text-shadow: 1px 1px #9a9ca0;
}

#resume, #poetry, #photo, #about, #contact{
	padding-left: 50px;
	padding-right: 50px; 
	padding-bottom: 50px;
	text-decoration: none;
}

#resume_link:hover {
	font-size: 26px;
}

#resume:hover {
	font-size: 30px;
	text-shadow: 3px 2px #4eb292;
}

#poetry:hover {
	font-size: 30px;
	text-shadow: 3px 2px #4eb292;
}

#photo:hover {
	font-size: 30px;
	text-shadow: 3px 2px #4eb292;
}

#about:hover {
	font-size: 30px;
	text-shadow: 3px 2px #4eb292;
}

#contact:hover {
	font-size: 30px;
	text-shadow: 3px 2px #4eb292;
}

#resume_intro {
	padding-top: 485px;
	padding-left: 25px;
	text-align: left;
	font-family: georgia;
	font-weight: bold;
	font-size: 15px;
}

h1{
	text-shadow: 1px 1px #9a9ca0;
}

a:link {
	text-decoration: none;
	background-color: transparent;
	color: black;
	font-weight: bold;
	font-style: normal;
}

a:visited {
	color: black;
}

#propic{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	display: table-cell;
	vertical-align: middle
	text-align: center;
	padding-top: 100px;
	width: 500px;
	height: 350px;
	animation: clipPoly 3s 3 alternate;
}

@keyframes clipPoly{
	from{
		clip-path: polygon(5% 5%, 80% 15%, 95% 80%, 10% 85%);
		transform: scale(.4);
	}

	to{
		clip-path: polygon(5% 5%, 80% 15%, 95% 80%, 10% 85%);
		transform: scale(.5);
	}


	to{
		clip-path: polygon(10% 55%, 95% 80%, 55% 75%, 85% 100%);
		transform: scale(1);
	}

	to{
		clip-path: polygon(100% 0%, 0% 0%, 0% 100%, 100% 100%);
		transform: scale(1);
	}
}
