body{
	background-repeat: no-repeat;
	background-size: cover;
}

#photos, #title, #intro{
	text-align: center;
}

#title{
	text-shadow: 2px 1px grey;
	text-align: left;
}

#intro{
	position: fixed;
	padding-top: -15px;
	padding-bottom: 20px;
	text-align: left;
	padding-left: 4%;
	font-family: times new roman;
	font-size: 15px;
}

#all_projects{
	font-family: times new roman;
	padding-top: 130px;
	padding-left: 60px;
	font-size: 24px;
	list-style-type: none;
}

a: hover{
	text-decoration: underline;
	color: blue;
	font-size: 35px;
}

#peaches{
	font-family: times new roman;
	text-align: left;
	font-size: 20px;
	padding-left: 100px;
}

#idontsmoke {
	font-family: times new roman;
	text-align: left;
	font-size: 20px;
	padding-left: 100px;
}

#foreigner{
	font-family: times new roman;
	text-align: left;
	font-size: 20px;
	padding-top: 40px;
	padding-left: 450px;
}

#guy{
	font-family: times new roman;
	text-align: left;
	font-size: 20px;
	padding-top: 40px;
	padding-left: 900px;
}

#motherland{
	font-family: times new roman;
	text-align: left;
	font-size: 20px;
	padding-top: 80px;
	padding-left: 100px;
}

#appendix{
	font-family: times new roman;
	text-align: left;
	font-size: 20px;
	padding-top: 70px;
	padding-left: 300px;
}

#skin{
	font-family: times new roman;
	text-align: left;
	font-size: 20px;
	padding-top: 70px;
	padding-left: 1100px;
}

#metro{
	font-family: times new roman;
	text-align: left;
	font-size: 20px;
	padding-top: 10px;
	padding-left: 100px;
}

#kyoto{
	font-family: times new roman;
	text-align: left;
	font-size: 20px;
	padding-top: 30px;
	padding-left: 600px;
}

#tokyo{
	font-family: times new roman;
	text-align: left;
	font-size: 20px;
	padding-top: 40px;
	padding-left: 100px;
}

#japan{
	font-size: 35px;
	font-weight: bold;
	text-align: left;
	padding-left: 100px;
	padding-top: 80px;
}

#mind {
	font-size: 35px;
	font-weight: bold;
	text-align: left;
	padding-left: 100px;
	padding-top: 30px;
}

#china{
	font-size: 35px;
	font-weight: bold;
	text-align: left;
	padding-left: 100px;
	padding-top: 100px;
}

#tokyo1{
	font-size: 25px;
}

#photos{
	padding-top: 100px;
	padding-bottom: 50px;
}

#navigation {
	width: 100%;
	position: absolute;
	display: inline-block;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 25px;
	text-align: center;
	text-shadow: 1px 1px #9a9ca0;
	margin: 0 0 0 0;
	overflow: hidden;
}

#resume, #poetry, #photo, #about, #contact, #projects{
	padding-left: 30px;
	padding-right: 30px; 
	padding-bottom: 10px;
	text-decoration: none;
	width:100%;
	font-size: 26px;
	text-align: center;
	font-family: times new roman;
}

#resume:hover {
	text-shadow: 2px 1px #4eb292;
}

#projects:hover {
	text-shadow: 2px 1px #4eb292;
}

#poetry:hover {
	text-shadow: 2px 1px #4eb292;
}

#photo:hover {
	text-shadow: 2px 1px #4eb292;
}

#about:hover {
	text-shadow: 2px 1px #4eb292;
}

#contact:hover {
	text-shadow: 2px 1px #4eb292;
}

#p-about, #p-resume, #p-projects, #p-poetry, #p-photo, #p-contact{
	font-family: times new roman;
	text-decoration: none;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 30px;
	padding-left: 30px;
	width: 100%;
	text-align: center;
	font-size: 26px;
}

#p-resume:hover {
	text-shadow: 2px 1px #4eb292;
}

#p-projects:hover {
	text-shadow: 2px 1px #4eb292;
}

#p-poetry:hover {
	text-shadow: 2px 1px #4eb292;
}

#p-photo:hover {
	text-shadow: 2px 1px #4eb292;
}

#p-about:hover {
	text-shadow: 2px 1px #4eb292;
}

#p-contact:hover {
	text-shadow: 2px 1px #4eb292;
}

#resume_intro {
	padding-top: 150px;
	text-align: center;
	font-family: times new roman;
	font-size: 36px;
}

#resume_link:hover {
	text-decoration: underline;
}

#comic_project:hover, #audio_project:hover{
	color:blue;
}

h1{
	text-shadow: 1px 1px #4eb292;
}

a:link {
	text-decoration: none;
	background-color: transparent;
	color: black;
	font-weight: bold;
	font-style: normal;
}

a:visited {
	color: black;
}

#touch{
	text-align: center;
	padding-top: 160px;
	padding-left: 25px;
	font-family: times new roman;
	font-size: 35px;
	font-weight: bold;
}

#email{
	font-size: 26px;
	color: blue;
}

#long{
	font-size: 28px;
}

#propic{
	margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: table-cell;
    vertical-align: middle
	text-align: center;
	padding-top: 100px;
	width: 550px;
	height: 385px;
	animation: clipPoly 3s 3 alternate;
}

#a {
	letter-spacing: 2px;
	white-space: nowrap;
	margin: 0 auto;
	overflow: hidden;
	animation: typing 16s steps(100, end),
	           caret .5s step-end infinite;
}

@keyframes typing { 
	from {width: 0} 
	to {width: 100%}
}

@keyframes blink-caret { 
	from, to {border-color: transparent;}
  	50% {border-color: white}
}

@keyframes clipPoly{
	from{
		clip-path: polygon(5% 5%, 80% 15%, 95% 80%, 10% 85%);
		transform: scale(.4);
	}

	to{
		clip-path: polygon(5% 5%, 80% 15%, 95% 80%, 10% 85%);
		transform: scale(.5);
	}


	to{
		clip-path: polygon(10% 55%, 95% 80%, 55% 75%, 85% 100%);
		transform: scale(1);
	}

	to{
		clip-path: polygon(100% 0%, 0% 0%, 0% 100%, 100% 100%);
		transform: scale(1);
	}

}
